body {
	background-color: #FFF8D0;
	padding: 0;
	margin: 0;
}
a, a:visited {
	text-decoration: none;
	color: white;
	text-shadow: -2px 1px 7px black;
}
a:hover {
	color: #C7C7C7;
}
/*.hdir {
	background-color: lightblue;
	color: orange;
	text-shadow: -2px 1px 3px black;
	text-align: center;
	padding: 5px;
	border: 1px solid black;
	border-radius: 25px;
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}*/
th {
	width: 1000px;
}
td {
	width: 700px;
	height: 300px;
	text-align: center;
	padding: 10px;
}
.albums {
	border-radius: 10px;
	border: 1px solid black;
	box-shadow: 0px 2px 5px #000;
	transition: transform .1s;
}
table {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.home:hover {
	color: #747474 !important;
}
.home {
	color: #000 !important;
}
#lums {

	height: 75px;
	width: auto;
	box-shadow: none;
	border: none;
	border-radius: 10px;
	align-self: center;
	justify-self: center;
	align-content: center;
}
nav {
	align-self: end;

}
nav ul li {
	display: inline-block;
	list-style: none;

}
nav ul li a {
	font-size: 24px;
	padding: 0 1.2vw;
}
.albums:hover {
	transform: scale(1.15);
}
h1 {
	text-align: center;
}
.widthfit {
	width: 100%;
	display: block;
}
#header {
	width: 100%;
	height: 100px;
	max-height: 30%;
	position: fixed;
	background: rgba(169, 191, 160, 0.8);
	z-index: 1;
	top: 0;
	left: 0;
	display: grid;
	justify-content: center;
}
.logo {
	
	align-self: center;

}


/*banner
========*/
.banner {
	display: grid;
	background-image: url("https://www.jambase.com/wp-content/uploads/2019/04/lumineers-clinch-press--1200x632.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	justify-content: center;
	align-content: center;
}
.hdir {
	text-align: center;
	color: black;
	text-shadow: 0px 0px 10px white;
	font-size: 15px;
}
#contact {
	background: gray;
	padding: 5px 0;

}
h2 {
	margin: 0;
}
#infoform {
	background: rgba(169, 191, 160, 1);
	display: block;
	width: 525px;
	height: 550px;
	border-radius: 15px;
	position: relative;
	margin: auto;
	font-family: arial;
}
form {
	padding: 15px;
}
.message {
	resize: none;
	vertical-align: top;
}
textarea {
	border-radius: 5px;
	font-family: arial;
	padding-left: 10px;
	padding-top: 5px;
}
#send {
	background: white;
	color: black;
	width: 70px;
	height: 50px;
	border-radius: 10px;
	cursor: pointer;
}
#send:hover {
	background: black;
	color: white;
}
#latest h2 {
	grid-column: 1/3;
}
#latest {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-gap: 10px;
	background-color: white;
	width: 800px;
	height: 500px;
	box-shadow: 15px 15px 5px black;
	border-radius: 2px;
	transition: transform .2s;
	max-width: 100%;
	min-width: auto;

}
#gloria {
	border: 1px solid black;
	border-radius: 5px;
	grid-column: 1/2;
	max-width: 400px;
	margin: 10px;
	align-self: center;
	align-content: center;

}
iframe {
	padding: 10px;
	margin: auto;
}
#latestcontainer {
	width: 100%;
	height: auto;
}
@media (min-width:768px) {
#header {
	grid-template-columns: 9fr 3fr;
	grid-template-rows: auto;
}
#latest:hover {
	transform: scale(1.05);
}
}
@media (max-width: 767px) {
#latest {
 width: 100%;
 margin-left: auto;
 margin-right: auto;
 height: auto;
 box-shadow: none;

}
.logo {
	grid-column: 1/3;
	grid-row: 2;
}
#latest h2 {
	align-self: center;
	text-align:center;
	font-size: 20px;
	grid-column: 1/3;
}
#gloria {
	width: 80%;
	align-self: center;
	align-content: center;
	grid-column: 1/3;
	margin: auto;
}
iframe {
	grid-column: 1/3;
}
main {
	margin-top: 100px;
}
	
nav {
	grid-column: 1/3;
	grid-row: 2;	
}
}
